{%- set allnode,etcdnode=[],[] -%}

{%- if kubernetes.vip is defined %}
{{ allnode.append(kubernetes.vip) }}
{%- endif %}

{%- for host in groups['kube-master'] -%}
    {{ allnode.append(host) }}
{%- endfor%}
{%- for host in groups['kube-minion'] -%}
    {{ allnode.append(host) }}
{%- endfor%}

{%- if groups['kube-etcd'] is not defined %}
    {%- for host in groups['kube-master'] -%}
        {{ etcdnode.append(host) }}
    {%- endfor%}
{%- else%}
        {%- for host in groups['kube-etcd'] -%}
        {{ etcdnode.append(host) }}
    {%- endfor%}
{%- endif %}

{%- if  kubernetes.ha.vip is defined %}
{{ allnode.append(kubernetes.ha.vip) }}
{%- endif %}
[ req ]
default_bits = 2048
default_md = sha256
distinguished_name = req_distinguished_name

[req_distinguished_name]

[ v3_ca ]
basicConstraints = critical, CA:TRUE
keyUsage = critical, digitalSignature, keyEncipherment, keyCertSign

[ v3_req_server ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ v3_req_client ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth

[ v3_req_apiserver ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names_cluster

[ v3_req_etcd ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names_etcd

[ alt_names_cluster ]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.svc.cluster.local
DNS.5 = localhost
IP.1 = {{ kubernetes.settings.KubernetesClusterSVCIP }}
IP.2 = 127.0.0.1
{% if  allnode | length > 0 %}
{% for host in allnode %}IP.{{ loop.index + 2 }} = {{ host }}
{% endfor %}
{% endif %}

[ alt_names_etcd ]
DNS.1 = localhost
IP.1 = 127.0.0.1
{% if  etcdnode | length > 0 %}
{% for host in etcdnode %}IP.{{ loop.index + 1 }} = {{ host }}
{% endfor %}
{% endif %}