apiVersion: v1
kind: Secret
type: bootstrap.kubernetes.io/token
data:
  description: Y2x1c3RlciBib290c3RyYXAgdG9rZW4=
  token-id: {{ TOKEN_ID.stdout }}
  token-secret: {{ TOKEN_SECRET.stdout }}
  usage-bootstrap-authentication: dHJ1ZQ==
  usage-bootstrap-signing: dHJ1ZQ==
metadata:
  name: bootstrap-token-{{ TOKEN_ID.stdout }}
  namespace: kube-system