apiVersion: v1
kind: Endpoints
metadata:
  labels:
    k8s-app: kube-scheduler
  name: kube-scheduler
  namespace: kube-system
subsets:
- addresses:
{% for host in groups['master'] %}
  - ip: {{ hostvars[host].inventory_hostname }}
{% endfor %}
  ports:
  - name: http-metrics
    port: 10251
    protocol: TCP