# OSX files
**/.DS_Store
scripts/binaries

# docker
roles/docker/files/containerd
roles/docker/files/containerd-shim
roles/docker/files/ctr
roles/docker/files/docker
roles/docker/files/dockerd
roles/docker/files/docker-init
roles/docker/files/docker-proxy
roles/docker/files/runc

# etcd
roles/etcd/files/etcd
roles/etcd/files/etcdctl