kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: yZ7m14WbK0aWmWbaHAByExrgAxMp8w6AneXigihmkcE=
      - identity: {}