[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=network.target

[Service]
{% if kubernetes.docker.systemd.service is defined %}
{% for opt in kubernetes.docker.systemd.service %}
{{ opt }}
{% endfor %}
{% endif %}
ExecStartPre=/sbin/iptables -P FORWARD ACCEPT
ExecStart=/usr/local/bin/dockerd
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target