{% set KUBE_APISERVER_ADDR, KUBE_APISERVER_PORT = inventory_hostname | ip_format, 6443 %}
{% if inventory_hostname in groups['master'] %}
  {% set KUBE_APISERVER_ADDR, KUBE_APISERVER_PORT = inventory_hostname | ip_format, 6443 %}
{% else %}
  {% if ha is defined %}
    {% if ha.type | default("none") == "none" %}
      {% set KUBE_APISERVER_ADDR, KUBE_APISERVER_PORT = groups['master'][0] | ip_format, 6443 %}
    {% else %}
      {% if ha.type | default("none") == "slb" %}
        {% set KUBE_APISERVER_ADDR, KUBE_APISERVER_PORT = ha.vip | ip_format, 8443 %}
      {% else %}
        {% set KUBE_APISERVER_ADDR, KUBE_APISERVER_PORT = ha.vip | ip_format, 6443 %}
      {% endif %}
    {% endif %}
  {% else %}
    {% set KUBE_APISERVER_ADDR, KUBE_APISERVER_PORT = groups['master'][0] | ip_format, 6443 %}
  {% endif %}
{% endif %}

apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/ca.crt
    server: https://{{ KUBE_APISERVER_ADDR }}:{{ KUBE_APISERVER_PORT }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-controller-manager
  name: system:kube-controller-manager@kubernetes
current-context: system:kube-controller-manager@kubernetes
kind: Config
preferences: {}
users:
- name: system:kube-controller-manager
  user:
    client-certificate: /etc/kubernetes/pki/kube-controller-manager.crt
    client-key: /etc/kubernetes/pki/kube-controller-manager.key
