[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
  --leader-elect=true \
  --kubeconfig=/etc/kubernetes/scheduler.conf \
  --profiling=false \
  --bind-address={{ kubernetes.scheduler.bind | default('127.0.0.1') }} \
{% if kubernetes.scheduler.log is defined %}
  --logtostderr=true \
  --log-dir={{ kubernetes.scheduler.log.logDir }} \
  --log-file={{ kubernetes.scheduler.log.logDir }}/{{ kubernetes.scheduler.log.logFile }} \
{% endif %}
  --v={{ kubernetes.scheduler.log.logLevel | default(2)}}

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target