---
# tasks file for apps
- name: Create application directory
  ansible.builtin.file:
    name: /etc/kubernetes/apps
    state: directory
    mode: "0755"
  tags:
    - upgrade
    - update

- name: Distribution cilium certificate
  include_tasks: "{% if PKI_URL is defined %}pki{% else %}local{% endif %}.yml"
  when:
    - KUBE_NETWORK == 'cilium'
  tags:
    - renew
    - update

- name: Distribution cilium certificate
  get_url:
    url: "{{ item.url }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
    checksum: "{{ item.checksum }}"
    owner: root
    group: root
    timeout: 3
  retries: 3
  with_items:
    - {
        url: "{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/cilium.crt",
        dest: "/etc/ssl/kubernetes/{{ PROJECT_NAME | default('kubeasy') }}/{{ PROJECT_ENV | default('dev') }}/cilium.crt",
        checksum: "sha256:{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/cilium.crt.sha256sum",
        mode: 644
      }
    - {
        url: "{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/cilium.key",
        dest: "/etc/ssl/kubernetes/{{ PROJECT_NAME | default('kubeasy') }}/{{ PROJECT_ENV | default('dev') }}/cilium.key",
        checksum: "sha256:{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/cilium.key.sha256sum",
        mode: 600
      }
    - {
        url: "{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/hubble-relay.crt",
        dest: "/etc/ssl/kubernetes/{{ PROJECT_NAME | default('kubeasy') }}/{{ PROJECT_ENV | default('dev') }}/hubble-relay.crt",
        checksum: "sha256:{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/hubble-relay.crt.sha256sum",
        mode: 644
      }
    - {
        url: "{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/hubble-relay.key",
        dest: "/etc/ssl/kubernetes/{{ PROJECT_NAME | default('kubeasy') }}/{{ PROJECT_ENV | default('dev') }}/hubble-relay.key",
        checksum: "sha256:{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/hubble-relay.key.sha256sum",
        mode: 600
      }
    - {
        url: "{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/hubble-server.crt",
        dest: "/etc/ssl/kubernetes/{{ PROJECT_NAME | default('kubeasy') }}/{{ PROJECT_ENV | default('dev') }}/hubble-server.crt",
        checksum: "sha256:{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/hubble-server.crt.sha256sum",
        mode: 644
      }
    - {
        url: "{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/hubble-server.key",
        dest: "/etc/ssl/kubernetes/{{ PROJECT_NAME | default('kubeasy') }}/{{ PROJECT_ENV | default('dev') }}/hubble-server.key",
        checksum: "sha256:{{ PKI_URL }}/{{ PROJECT_NAME }}/{{ PROJECT_ENV }}/hubble-server.key.sha256sum",
        mode: 600
      }
  when:
    - KUBE_NETWORK == 'cilium'
    - PKI_URL is defined
  tags:
    - renew
    - update

- name: Distribution cilium profile
  ansible.builtin.copy:
    src: "cilium.sh"
    dest: "/etc/profile.d/cilium.sh"
    owner: root
    group: root
    mode: 0644
  when: 
    - inventory_hostname in groups['master']
    - KUBE_NETWORK == 'cilium'

- name: Distribution cni to the cluster
  vars:
    ipv6_query: "[*].{device: device, ipv4: ipv4, ipv6: ipv6[? address == '{{ inventory_hostname }}']}[?ipv6]"
  ansible.builtin.template:
    src: "{{ KUBE_NETWORK | default('flannel')}}.yaml.j2"
    dest: "/etc/kubernetes/apps/{{ KUBE_NETWORK | default('flannel')}}.yaml"
  when:
    - KUBE_NETWORK != 'none'
  tags:
    - upgrade
    - update

- name: Apply cni to the cluster
  ansible.builtin.shell: "kubectl apply -f /etc/kubernetes/apps/{{ KUBE_NETWORK | default('flannel')}}.yaml"
  delegate_to: "{{ groups['master'][0] }}"
  run_once: true
  when:
    - KUBE_NETWORK != 'none'
  tags:
    - upgrade
    - update

- name: Distribution manifest to the cluster
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "/etc/kubernetes/apps/{{ item.dest }}"
  with_items:
    - { "src": "metrics.yaml.j2", "dest": "metrics.yaml" }
    - { "src": "coredns.yaml.j2", "dest": "coredns.yaml" }
    - { "src": "kube-state-metrics.yaml.j2", "dest": "kube-state-metrics.yaml" }
  tags:
    - upgrade
    - update

- name: Apply manifest to the cluster
  ansible.builtin.shell: "kubectl apply -f /etc/kubernetes/apps/{{ item }}"
  delegate_to: "{{ groups['master'][0] }}"
  run_once: true
  with_items:
    - "metrics.yaml"
    - "coredns.yaml"
    - "kube-state-metrics.yaml"
  tags:
    - upgrade
    - update

- name: Distribution nvidia-device-plugin manifest to the cluster
  ansible.builtin.template:
    src: "nvidia-device-plugin.yaml.j2"
    dest: "/etc/kubernetes/apps/nvidia-device-plugin.yaml"
  when: hostvars | dict2items | selectattr('value.gpu', 'defined') | length > 0
  tags:
    - upgrade
    - update

- name: Apply nvidia-device-plugin manifest to the cluster
  ansible.builtin.shell: "kubectl apply -f /etc/kubernetes/apps/nvidia-device-plugin.yaml"
  delegate_to: "{{ groups['master'][0] }}"
  run_once: true
  when: hostvars | dict2items | selectattr('value.gpu', 'defined') | length > 0
  tags:
    - upgrade
    - update