{%- set tmp_hostname = "" -%}
{%- if hostname is not defined %}
    {%- set tmp_hostname = ansible_fqdn -%}
{%- else%}
    {%- set tmp_hostname = hostname -%}
{%- endif %}
[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart=/usr/local/bin/kube-proxy \
  --hostname-override={{ tmp_hostname | lower }} \
  --config=/etc/kubernetes/kube-proxy.conf \
{% if kubernetes.proxy.log is defined %}
  --logtostderr=true \
  --log-dir={{ kubernetes.proxy.log.logDir }} \
  --log-file={{ kubernetes.proxy.log.logDir }}/{{ kubernetes.proxy.log.logFile }} \
{% endif %}
  --v={{ kubernetes.proxy.log.logLevel | default(2) }}

Restart=always
RestartSec=10s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target