server = "{{ item }}"
[host."{{ item | default('https://docker.io') | urlsplit('hostname') }}{% if item | default('https://docker.io') | urlsplit('port') is not none %}:{{item | default('https://docker.io') | urlsplit('port')}}{% endif %}"]
    endpoint = [ "{{ item | urlsplit('scheme') }}://{{ item | default('https://docker.io') | urlsplit('hostname') }}{% if item | default('https://docker.io') | urlsplit('port') is not none %}:{{item | default('https://docker.io') | urlsplit('port')}}{% endif %}" ]
{% if item | urlsplit('scheme') ==  "http" %}
    insecure_skip_verify = true
{% else %}
    capabilities = ["pull", "resolve"]
{% endif %}
