---
# tasks file for docker
- name: Install the binary
  copy: 
    src: '{{ item }}'
    dest: /usr/local/bin/
    mode: 0755
    owner: root
    group: root
  with_items:
    - containerd
    - containerd-shim
    - ctr
    - docker
    - dockerd
    - docker-init
    - docker-proxy
    - runc
  notify: Start the service

- name: Create data directory
  file: 
    name: '{{ item }}'
    state: directory
    mode: '0755'
  with_items:
    - /etc/docker
    - '{{ kubernetes.docker.datadir }}'

- name: Configuration daemon
  template: 
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
  notify: Start the service

- name: Install systemd file
  template: 
    src: docker.service.j2
    dest: /etc/systemd/system/docker.service
  notify: Start the service